@import "reset.css";
@import "variables.css";

* {
    box-sizing:border-box;
}
body{
    height: 100vh;

}
header{
    width:33%;
    height: 100%;
    background-color:#f0eff0;
    padding:190px;
    padding:10vh 0 72px 72px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color:#e7493e;
    position:fixed;
    top:0;
    left:0;


}

header h1{
    font-size:65px;
    text-transform:uppercase;
    width: 50%;
    letter-spacing:5px;
}
header h3{
    font-size:25px;
    font-weight: 300;
    
    margin-bottom:20px;
}
header h3, p{
    width:80%;
    text-align:justify;
}
header p{
    font-weight: 300;
    font-size: 22px;
    margin-bottom:40px;
}

main{
    height:1000vh;
    background-color:#e7493e;
    margin-left:33%;
}

.movie{
    height:50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.title-director{
    margin:23px 20px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.title{
    font-size:25px;
    
    font-weight: 500;
}
.director{
    font-size: 12px;
    
    font-weight: 1000;
}

.scene{
    display:flex;
    justify-content:center;
}

.like-dislike{
    display:flex;
    justify-content:flex-end;
    
    
    font-weight:700;
    font-size:13px;
    padding: 23px 20px;

}
.like-dislike i{
    opacity:0.8;
}
.scene img{
    width:120%;
    
}