@import "reset.css";
@import "variables.css";

* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
header {
  width: 40%;
  height: 100%;
  background-color: #f0eff0;
  /* padding: 190px; */
  padding: 10vh 72px 0px 72px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e7493e;
  position: fixed;
  top: 0;
  left: 0;
}

header h1 {
  font-size: 60px;
  text-transform: uppercase;
  width: 50%;
  letter-spacing: 5px;
}
header h3 {
  font-size: 24px;
  font-weight: 300;

  margin-bottom: 40px;
}

header h3,
p {
  /* width: 66%; */
  line-height: 1.2;
  text-align: start;
  font-weight: 400;
}

p {
  font-size: 17px;
  margin-bottom: 40px;
}
nav {
  width: 80%;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
}
nav li {
  cursor: pointer;
  margin-right: 12px;
  font-size: 15px;
  color: black;
  opacity: 0.8;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}
nav li:hover {
  opacity: 1;
}

main {
  height: 1000vh;
  /* background-color:linear-gradient(rgba(0,0,0,0)),#e7493e; */
  background-color: #e7493e;
  margin-left: 40%;
}

.movie {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  /* width: 80%; */
}
.wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.title-director {
  /* margin:23px 20px; */
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 25px;

  font-weight: 500;
}
.director {
  font-size: 12px;

  font-weight: 1000;
}

.scene {
  display: flex;
  justify-content: center;
}

.like-dislike {
  display: flex;
  justify-content: flex-end;

  font-weight: 700;
  font-size: 13px;
  padding: 23px 20px;
}
.like-dislike i {
  opacity: 0.8;
}
.scene img {
  width: 120%;
}
